            <div class="pic-rentals">

                  <img src={{imageUrl}} alt="property1">
                <h3>{{headline}}</h3>
                <p>Sleeps{{numSleeps}} &#x2022 {{numBedrooms}}BHK &#x2022 {{numBathrooms}}BA &#x2022 price:${{pricePerNight}}/night</p>
        </div>    
