<div class="box">
  <div class="center">
    <h1>Update the rental information here.</h1>
    <form action="/rentals/add" method="POST" enctype="multipart/form-data">

      <div class="inputbox">
        <label for="id"></label>
        <input
          type="hidden"
          name="id"
          value="{{id}}"
        /><br />
      </div>

      <div class="inputbox">
        <label for="headline"></label>
        <input
          type="text"
          id="headline"
          name="headline"
          placeholder="headline"
          value="{{values.headline}}"
        /><br />
      </div>

      <div class="inputbox">
        <label for="numSleeps"></label>
        <input
          type="number"
          id="numSleeps"
          name="numSleeps"
          placeholder="numSleeps"
          value="{{values.numSleeps}}"
        /><br />
        {{#if errorMessages.numSleeps}}
          <p style="color: red;">{{errorMessages.numSleeps}}</p>
        {{/if}}
      </div>

      <div class="inputbox">
        <label for="numBedrooms"></label>
        <input
          type="number"
          id="numBedrooms"
          name="numBedrooms"
          placeholder="numBedrooms"
          value="{{values.numBedrooms}}"
        /><br />
        {{#if errorMessages.numBedrooms}}
          <p style="color: red;">{{errorMessages.numBedrooms}}</p>
        {{/if}}
      </div>

      <div class="inputbox">
        <label for="numBathrooms"></label>
        <input
          type="number"
          id="numBathrooms"
          name="numBathrooms"
          placeholder="numBathrooms"
          value="{{values.numBathrooms}}"
        /><br />
        {{#if errorMessages.numBathrooms}}
          <p style="color: red;">{{errorMessages.numBathrooms}}</p>
        {{/if}}
      </div>

      <div class="inputbox">
        <label for="pricePerNight"></label>
        <input
          type="number"
          id="pricePerNight"
          name="pricePerNight"
          placeholder="pricePerNight"
          value="{{values.pricePerNight}}"
          step=".01"
        /><br />
        {{#if errorMessages.pricePerNight}}
          <p style="color: red;">{{errorMessages.pricePerNight}}</p>
        {{/if}}
      </div>

      <div class="inputbox">
        <label for="city"></label>
        <input
          type="text"
          id="headline"
          name="city"
          placeholder="city"
          value="{{values.city}}"
        /><br />
      </div>

      <div class="inputbox">
        <label for="province"></label>
        <input
          type="text"
          id="province"
          name="province"
          placeholder="province"
          value="{{values.province}}"
        /><br />
      </div>

      <div class="inputbox">
        <label for="imageUrl"></label>
        <input
          type="file"
          id="imageUrl"
          name="imageUrl"
          placeholder="imageUrl"
          value="{{values.imageUrl}}"
        /><br />
      </div>

      <div class="inputbox">
        <label for="featuredRental"></label>
        <input
          type="checkbox"
          id="featuredRental"
          name="featuredRental"
          placeholder="featuredRental"
          value="{{values.featuredRental}}"
        /><br />
      </div>

      <div class="inputbox">
        <input type="submit" value="Register" />
      </div>
    </form>
  </div>
</div>